/* Navigation Bar Formatting -- Moving Nav Bar in Front */
.navbar {
  z-index: 5; 
}

/* Header Sectio Formatting */
.about-section {
  padding: 30px;
  text-align: center;
  background-color: #2A9D8F;
  color: white;
}

/* Header Title Formatting */
.about-section h1 {
  color: white;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Header Description Formatting */
.about-section p {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

/* General Body Text Formatting */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0;
  }

  /* Formating Names */
  .names {
    color: #264653;
    outline-width: 25%;
    outline-color: #264653;
  }
  
  /* Set box-sizing property for HTML elemetns */
  html {
    box-sizing: border-box;
  }
  
  /* Inherit box-sizing property for all elements */
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* Defining Column Properties for Responsive Design */
  .column {
    float: left;
    width: 49.9%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  /* Formatting Cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  /* Define Container Properties */
  .container {
    padding: 0 16px;
  }
  
  /* Clear Floats and Preserves Order -- Add Content After COntainer and Row Elements */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Set Colour for Title */
  .title {
    color: grey;
  }
  
  /* Define Responsive Design for screens less than 650px */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }