

/* Navigation Bar Formatting -- Moving Nav Bar in Front */
.navbar {
  z-index: 5; 
}

/* Header Section */
.about-section {
  padding: 30px;
  text-align: center;
  background-color: #2A9D8F;
  color: white;
}

/* Header Title */
.about-section h1 {
  color: white;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Header Description */
.about-section p {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

/* Body of Webpage Colour */
body{
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

/* Question Formatting */
details{
  background-color: white;
  color: #2A9D8F;
  font-size: 24px;
}

/* Food Support Service Type Headers Formatting */
.hd {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 20px;
    color: #264653;
  }
  
/* Answer Paragraph Formatting */
  .pg {
    margin-left: 40px;
    font-size: 18px;
    font-weight: 500;
    color: #0e0e0e;
    margin-top: 5px;
  }

/* Additional Links */
.support-link{
  color: #264653;
  font-size: 14px;
}

/* Formatting of Question Drop Down */
summary {
  padding: 0.5em 1.3rem;
  list-style: none; 
  /* Removing Default List Style Bullet Points */
  display: flex;
  /* Specifiy flex container */
  justify-content: space-between;  
  /* Places answer under question with some space between */
  transition: height 1s ease;
  /* Applies a transition effect to height over a 1 sec duration with easing fn */
}

/* Hide Default Bullet Point Marker for the Question/Answer (Summary/Detail) Elements */
summary::-webkit-details-marker {
  display: none;
}

/* Adding Plus Sign After Summary Text to Indicate Expansion Capacity */
summary:after{
  content: "\002B";
}

/* Adds Bottom Border to Question When Answer is Open */
details[open] summary {
    border-bottom: 1px solid white;
    margin-bottom: .5em; 
    /* Margins in relative units */
}

/* Changes Plus Sign to X when element is open to indicate clicking closes */
details[open] summary:after{
  content: "\00D7";
}

/* Adding padding to the detail element when it is open */
details[open] div{
  padding: .5em 1em;
  /* Margins in relative units */
}

/* Formatting for Hover over Hyperlinks */
a:hover {
  text-decoration: underline;
}

 /* Define Responsive Design for screens less than 650px */
 @media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}