header {
    padding: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: white;
  }
  
  code {
    background: #4b524d;
    border-radius: 6px;
    color: #fff;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px 15px;
    text-align: center;
    font-weight: bold;
  }
  .default {
    background: none;
    color: #666;
  }
  .group:before,
  .group:after {
    content: "";
    display: table;
  }
  .group:after {
    clear: both;
  }
  .group {
    background: #eaeaed;
    border-radius: 6px;
    clear: both;
    *zoom: 1;
  }
  .group,
  header,
  section,
  aside,
  footer {
    margin: 0 1.5% 24px 1.5%;
  }
  section {
    float: left;
    width: 63%;
  }
  aside {
    float: right;
    width: 30%;
  }
  footer {
    margin-bottom: 0;
  }
  